################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/CaseConverter/.vs/CaseConverter/DesignTimeBuild
/CaseConverter/.vs
/CaseConverter/CaseConverter/bin
/CaseConverter/CaseConverter/obj
